body,
html {
  font-family: "Noto Sans KR", sans-serif;
}

.text_title {
  display: flex;
  align-items: center;
  font-size: 19px;
  margin-bottom: 15px;
  gap: 6px;
}

a {
  text-decoration: none;
  color: #000;
}

.inner{
  width:1280px;
  margin: 0 auto;
}

:lang(en) {
  font-family: 'ITCAvantGardePro' !important;
}


