& header.header{
  border: 1px solid #e5e5e5;
  padding: 20px 0px;
  box-sizing: border-box;
  & .inner{
    & nav.nav_login{
      display: flex;
      justify-content: right;
      & ul.login_list{
        display: flex;
        gap:11px;
        & li{
          position: relative;
          &:not(:last-child)::after{
            content: "";
            display: block;
            width: 1px;
            height: 1px;
            background-color: #878787;
            position: absolute;
            right: -6px;
            top:50%;
            transform: translateY(50%);
          }
          & a{
            color: #878787;
            font-size: 12px;
          }
        }
      }
    }
    & .logo_wrap{
      display: flex;
      align-items: center;
      & .logo{
      }
      & .search_wrap{
        margin-left: 50px;
        width: 360px;
        height: 40px;
        position: relative;
        & input{
          width: 100%;
          height: 100%;
          border: 1px solid #000;
          border-radius: 8px;
          box-sizing: border-box;
        }
        & img{
          position: absolute;
          right: 15px;
          top:50%;
          transform: translateY(-50%);
        }
      }
    }
  }
}